doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 페이지를 찾을 수 없습니다 | 배민상회
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/styles/common/globalstyle.css")
    link(rel="stylesheet" href="/styles/common/404.css")
  body 
    main 
      .box 
        img.character(
          src="/assets/images/dance.gif"
          alt="soap-is-dancing"
        )
        h1.content 페이지가 없어요!
        a.to-home(
          href="/"
        ) 홈으로
          i.icon chevron_right 
        