doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 테스트 페이지
    link(rel="stylesheet" href="/styles/common/globalstyle.css")
  body 
    .app
    script(src="/main.js" type='module')